*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  /*
    * 16px is the default value for most of the browsers.
    * 62.5% of 16px is 10px which is equal to 1rem. 1rem is much easier to calculate throughout the website and more responsive robust 
    */
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

/* HERO HEADER */
/* HERO HEADER */
