@mixin clearfix {
    &::after{
        content: "";
        clear: both;
        display: table;
    }
}

@mixin absolute-plain($position) {
    position: $position;
    top: 0;
    left: 0;
}

@mixin absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// BEGIN - For the button styles and animations
@mixin btn-default($border-radius, $transform) {
    &, // To be applied in all <a> and <button> elements
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;        
        border-radius: $border-radius ;
        transition: all .2s;
        font-size: 1.3rem;
        position: relative;

        // Changes for the <button> element
        border: none;
        cursor: pointer;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1.5rem 2.5rem rgba($color-black, .2);

        &::after {
            transform: $transform;
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .7rem 1.5rem rgba($color-black, .2);
    }

    &--white {
        background-color: $color-white;
        color: $color-grey-dark-3;        

        &::after {
            background-color: $color-white;
        }
    }

    &--blue {
        background-color: $color-primary;
        color: $color-grey-light-1;

        &::after {
            background-color: $color-primary;
        }
    }

    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: $border-radius;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--animated {
        animation: moveInBottom .6s ease-in-out .75s;
        animation-fill-mode: backwards;
    }
}

@mixin btn-text-default($padding) {
    &:link, 
    &:visited {
        font-size: $default-font-size;
        color: $color-primary;
        display: inline-block;
        text-decoration: none;
        border-bottom: 1px solid $color-primary;
        padding: $padding;
        transition: all .2s;
    }

    &:hover {
        background-color: $color-primary;
        color: $color-grey-light-3;
        transform: translateY(-2px);
        box-shadow: 0 .5rem 2rem $rgba-color-black-3;
    }

    &:active {
        box-shadow: 0 .5rem 1rem $rgba-color-black-2;
        transform: translateY(0);
    }
}
// END - For the button styles and animations

// MEDIA QUERY MANAGER
/* 
0 - 600px:     Phone
600 - 900px:   Tablet portrait
900 - 1000px:   Tablet medium
1000 - 1200px:  Tablet landscape
[1200 - 1800]: Desktop. Where the normal styles apply - Where the website was first developed.
1800px +   :   Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-med
- tab-land
- big-desktop

RESPONSIVE CHANGING ORDER: Base + typography + general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {

    @if $breakpoint == phone-small {
        @media only screen and (max-width: 26em) {@content}; // 414px - 414/16 = 26
    }

    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; // 600px  - 600/16 = 37.5
    }

    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; // 900px - 900/16 = 56.25
    }

    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; // 1200px - 1200/16 = 75
    }

    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800  - 1800/16 = 112.5
    }
}