// COLORS
$color-primary: #2160a2;
$color-primary-light: #4594e7;
$color-primary-dark: #133e6b;
//$color-primary-light: #2a7fda;
//$color-primary-dark: #1a487a;

$color-secondary-light: #7ed56f;
$color-secondary-dark: #145a43;

$color-tertiary-light: #fdc21f;
$color-tertiary-dark: #d3662c;
$color-tertiary-dark2: #ce3e05;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d6d6d6;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #3b3b3b;

//GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

//FONT SIZES
$default-font-size: 1.6rem;

//SHADOWS
$rgba-color-black-15: rgba($color-black, .15);
$rgba-color-black-2: rgba($color-black, .2);
$rgba-color-black-3: rgba($color-black, .3);

//BORDER
$boder-radius-3 : 3px;