// COLORS
$color-primary: #2160a2;
$color-primary-light: #2a7fda;
$color-primary-dark: #1a487a;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d6d6d6;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;