/* HERO HEADER */
.header {
    height: 90vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8)),
        url(../img/pier.jpg);
        background-size: cover;
        background-position: center;
      
        -webkit-clip-path: ellipse(58% 48% at 49% 22%);
        clip-path: ellipse(70% 57% at 50% 40%);

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        }

        &__logo {
            height: 10rem;            
        }

}