/* HERO HEADER */
.header {
    height: 97vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8)),
        url(../img/pier.jpg);
        background-size: cover;
        background-position: center;
        position: relative;
      
        -webkit-clip-path: ellipse(100% 70% at 17% 30%);
        clip-path: ellipse(100% 70% at 17% 30%);

        @include respond(tab-port) {
            height: 72vh;
        }

        @include respond(phone) {
            -webkit-clip-path: ellipse(100% 70% at 30% 30%);
            clip-path: ellipse(100% 70% at 30% 30%);
        }

        &__logo-box {
            position: absolute;
            top: 4rem;
            left: 4rem;
        }

        &__logo {
            height: 10rem;    
        }

        &__text-box {
            width: 100%;
            position: absolute;
            top: 35%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
        }

}