.composition {
    position: relative;
    
    &__photo {        
        width: 55%;
        box-shadow: 0 1.5rem 4rem $rgba-color-black-2;
        border-radius: 2px;
        z-index: 10;
        position: absolute;
        outline-offset: 2rem;
        transition: all .3s;
        border-radius: 5rem;

        &--p1 {
            top: -2rem;
            left: 0;
        }

        &--p2 {
            top: 2rem;
            right: 0;
        }

        &--p3 {
            top: 10rem;
            left: 20%;
        }

        &:hover {
            outline: 1.5rem solid $color-primary; // this is similar to the property "border". For space between an outline and the edge or border of an element use "outline-offset".
            z-index: 20;
            transform: scale(1.05);
            box-shadow: 0 2.5rem 4rem $rgba-color-black-15;
            border-radius: 5rem;
            border: 2px solid $color-primary;
        }
    }

    // It means that hover the elements that are not hovered by composition_photo.
    &:hover &__photo:not(:hover) {
        transform: scale(1) translateY(-1rem);
        
    }
}