body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7; // 1.7 bigger than the pre-defined line-height
    color: $color-grey-dark-3;
}

.heading-primary {
    color: $color-grey-light-1;
    text-transform: uppercase;
    overflow: hidden; // Correcting the "shaking during the end of the animation.
    backface-visibility: hidden;  //backface-visibility sets whether the back face of an element is visible when turned towards the user.    

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 2rem;
        animation: moveInLeft 1s ease-out; // ease-out: starts quickly, slowing down the animation continues;
        
    }

    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        animation: moveInRight 1s cubic-bezier(.07,.22,.94,.31);
    }
}